@font-face {
  font-family: "Reckless";
  src: url(./font/RecklessCondensedS-TRIAL-Book.woff);
}

:root {
  --dark-blue: #2a2857;
  --white: #fff;
  --text: #201c1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

/* Header Css Starts here */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--dark-blue);
}

.top-header span {
  color: var(--white);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffefb;
  color: var(--text);
  padding: 10px 20px;
  border: 0.0625rem solid currentColor;
  border-radius: 10px;
  margin: 15px;
}

ul.left-navlinks {
  display: flex;
  align-items: center;
  gap: 30px;
}

ul.left-navlinks li a {
  font-size: 21px;
  line-height: 27px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s all ease;
}

ul.left-navlinks li a span {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #c0dbff;
  border: 1px solid var(--text);
  transition: 0.3s all ease;
}

ul.left-navlinks li a:hover span {
  transform: rotate(180deg);
  background: #ffb500;
}

ul.left-navlinks li a span i {
  font-size: 14px;
  line-height: 13px;
  transition: 0.3s all ease;
}

ul.navlinks {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 12.5px;
}

li.nav-icon i {
  font-weight: 300;
  font-size: 26px;
}

i.ri-star-fill {
  color: #ffb500;
}

li.nav-icon {
  position: relative;
}

li.nav-icon span {
  position: absolute;
  right: -8px;
  top: 4px;
  width: 17px;
  height: 17px;
  background: #ffb500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  border-radius: 50%;
  border: 1px solid var(--text);
}

.mobile-menu {
  display: none;
}

/* Banner Css Starts here */
.hero {
  position: relative;
  width: 100%;
  height: 97vh;
  background: url(https://www.twoleavestea.com/cdn/shop/files/cere-memorial_matcha_wide.png?v=1779304660&width=1280);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 50px;
  border-bottom: 1px solid var(--text);
}
.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 84px;
  line-height: 84px;
  font-weight: 300;
  color: var(--text);
  font-family: "Reckless";
  margin-bottom: 20px;
}

.hero p {
  font-size: 17px;
  line-height: 26px;
  color: var(--text);
  margin-bottom: 20px;
}

.hero-content button {
  font-size: 17px;
  padding: 15px 50px;
  border-radius: 30px;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--text);
}

/* Spacer Section Css Starts Here */
.spacer {
  padding: 100px;
  background-color: #fbf9eb;
}

.spacer h2 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 300;
  color: var(--text);
  font-family: "Reckless";
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}

/* Best Sellers Section Css Starts Here */
.best-sellers {
  background-color: #fbf9eb;
  padding: 0 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--text);
}

.small-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.small-title span {
  padding: 4px;
  background: #daaeea;
  display: inline-block;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: 800;
  border: 1px solid var(--text);
  transform: rotate(358deg);
}

.bs-row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

article.bs-card {
  width: 324px;
}

.bs-media {
  width: 100%;
  height: 365px;
  background-color: #c1ee91;
  border: 1px solid var(--text);
  position: relative;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.bs-media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s all ease;
}

article.bs-card:hover .bs-media img {
  transform: scale(1.1);
}

.media-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

span.bs-tag {
  font-size: 17px;
  text-transform: uppercase;
  background: var(--white);
  padding: 6px 5px;
  border: 1px solid var(--text);
  font-weight: 600;
  border-radius: 6px;
  color: var(--text);
}

.bs-rating {
  font-size: 14px;
  color: var(--text);
}

.bs-rating i.ri-star-fill {
  color: var(--text);
}

button.bs-add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid var(--text);
}

.bs-body {
  margin-top: 20px;
  width: 90%;
}

h3.bs-name {
  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
  padding-bottom: 14px;
}

.bs-price {
  font-size: 15px;
  padding-bottom: 8px;
}

p.bs-desc {
  font-size: 15px;
}

.bs-row article.bs-card:nth-child(2) .bs-media {
  background-color: #c8e892;
}

.bs-row article.bs-card:nth-child(3) .bs-media {
  background-color: #b0e8c1;
}

.bs-row article.bs-card:nth-child(4) .bs-media {
  background-color: #cce3ff;
}

.center-btn {
  text-align: center;
  padding-top: 40px;
}

.center-btn button {
  font-size: 17px;
  padding: 15px 50px;
  border-radius: 30px;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--text);
}

/* Discover Section Starts */
.discover {
  padding: 100px 16%;
  background-color: #fbf9eb;
}

.discover .small-title {
  display: block;
  margin-bottom: 20px;
}

.discover .small-title span {
  background: #ff7f31;
}

.discover h2 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 300;
  color: var(--text);
  font-family: "Reckless";
  max-width: 810px;
  margin-bottom: 30px;
}

.discover input {
  padding: 22px 64px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid var(--text);
  outline: none;
}

/* Vibe section starts */
.vibe {
  padding: 0 16% 100px 16%;
  color: var(--text);
  background-color: #fbf9eb;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vibe-btns button {
  font-size: 26px;
  font-family: "Reckless";
  font-weight: 300;
  padding: 11px 20px;
  border-radius: 12px;
  border: 1px solid var(--text);
  background: #daeaff;
  cursor: pointer;
  transition: 0.3s all ease;
}

.vibe-btns button:hover {
  background: #a2c9fc;
}

.vibe-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Call-to-action Starts here */
.call-to-action {
  padding: 50px;
  background: url(https://www.twoleavestea.com/cdn/shop/files/Two_Leaves_Tea_Aug_25_Shoot-14x_SQ_1_d549e6bb-f1ad-4b36-a851-05e1af195a31.webp?v=1771593222&width=2700.0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-box h2 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 300;
  color: var(--white);
  font-family: "Reckless";
  max-width: 230px;
}

.cta-box {
  width: 35%;
  background: #f26412;
  padding: 70px 50px;
  border-radius: 12px;
  border: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.cta-box p {
  color: var(--white);
  font-size: 19px;
  line-height: 27px;
  margin-bottom: 20px;
}

.cta-box button {
  font-size: 17px;
  padding: 15px 60px;
  border-radius: 30px;
  color: var(--text);
  background-color: var(--white);
  border: 1px solid var(--text);
}

/* Responsive Starts(For Desktop First approach) */
@media (max-width: 1500px) {
  .hero h1 {
    font-size: 50px;
    line-height: 53px;
  }
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }

  .mobile-menu i {
    font-size: 24px;
  }

  ul.left-navlinks {
    display: none;
  }

  ul.navlinks li:nth-child(1),
  ul.navlinks li:nth-child(2),
  ul.navlinks li:nth-child(3) {
    display: none;
  }

  .hero {
    padding: 50px 20px;
    background: url(https://www.twoleavestea.com/cdn/shop/files/matcha_mobile.png?v=1779455800&width=720);
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }

  .hero p {
    font-size: 15px;
    line-height: 24px;
  }

  .hero-content button {
    width: 100%;
  }

  .spacer,
  .discover {
    padding: 70px 20px;
  }

  .vibe {
    padding: 0px 20px 70px 20px;
  }

  .best-sellers {
    padding: 0 20px;
    padding-bottom: 70px;
  }

  .small-title span {
    font-size: 32px;
  }

  .spacer h2,
  .discover h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .discover input {
    max-width: 750px;
    width: 100%;
  }

  .call-to-action {
    padding: 0;
  }

  .cta-box {
    width: 100%;
    border-radius: 0;
    padding: 60px 20px;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .cta-box h2 {
    font-size: 40px;
    line-height: 52px;
    max-width: 270px;
  }

  .cta-box p {
    font-size: 18px;
  }
}
